%section
  .wrapper-page
    .tutor-popup
      .tutor-text
        -#%a.popup-close(href="#" )close
        -#  %img(src="#{$this->assetsPath}/img/close-button.png" )
        -#%h1 Please fill in your request form
        -#.registration-form-popup
        -#  %form(action="" method="post" )
        -#    %div.input-row
        -#      %label(class="label-name")Teacher's name
        -#      %div.input_block.cl
        -#        %label(class="label-name")
        -#          %span Jennifer Tsay
        -#    %div.input-row
        -#      %label(class="label-name-select") Desired time
        -#        %span*
        -#      %div.select-desired-time
        -#        %select(class="select-date-time" name="Date & time" )
        -#          %option Date & time
        -#          %option Mondays 11AM-4PM
        -#          %option Tuesdays 10AM-4PM
        -#          %option Thursdays 10AM-4PM
        -#          %option Saturdays 11AM-3PM
        -#    %div.input-row
        -#      %label(class="label-name-select") Alternative time
        -#      %div.select-alternative-time
        -#        %select(class="select-date-time" name="Date & time" )
        -#          %option Date & time
        -#          %option Mondays 11AM-4PM
        -#          %option Tuesdays 10AM-4PM
        -#          %option Thursdays 10AM-4PM
        -#          %option Saturdays 11AM-3PM
        -#    %div.input-roww
        -#      %label(class="label-name")Other requests
        -#      %div.input_block.cl
        -#        %div.error-message
        -#        %textarea(class="textarea-input" )
        -#    %h2 Your personal information
        -#    %div.input-row
        -#      %label(class="label-name")First Name
        -#        %span*
        -#      %div.input_block.cl
        -#        %div.error-message
        -#        %input(class="text_input" name="name" required="required" type="text")
        -#    %div.input-row
        -#      %label(class="label-name")Second Name
        -#        %span*
        -#      %div.input_block.cl
        -#        %div.error-message
        -#        %input(class="text_input" name="name" required="required" type="text")
        -#    %div.input-row
        -#      %label(class="label-name")Phone number
        -#        %span*
        -#      %div.input_block.cl
        -#        %div.error-message
        -#        %input(class="text_input" name="name" required="required" type="tel")
        -#    %div.input-row
        -#      %label(class="label-name")E-mail
        -#        %span*
        -#      %div.input_block.cl
        -#        %div.error-message
        -#        %input(class="text_input" name="name" required="required" type="email" )
        -#    %div
        -#      %input(type="submit" class="btn registration-button-knoll" value="send" )
    .wrapper-tutors-page
      %h1 Our tutors
      .tutor-details-wrap
        -$i = 1
        -foreach($tutors as $tutor)
          .tutor-details(style="#{$i == 1 ? 'display:block;': 'display:none;';}" data-rel="tutor#{$tutor->id}")
            .tutor-details-image
              %img(src="#{$tutorsImgFolder . $tutor->big_image}" )
            .tutors-info
              %h2 = $tutor->name
              %li
                %span Subjects:
              %br
              %p
                %span = $tutor->subjects
              %br
              %li
                %span Education:
              %br
              %p = $tutor->education
              %br
              %li
                %span Experience:
              %br
              %p = $tutor->experience
              %div.days-times-wrapper
                %li
                  %span Days/times available:
                %br
                %ul.days-times
                  -foreach($tutor->tutorsDaysTimes as $dayTime)
                    %li
                      %span = $weekDays[$dayTime->weekday]
                      = date('gA', strtotime($dayTime->start_time)) . '-' .date('gA', strtotime($dayTime->end_time))
                  %input(type="button" class="btn our-tutors-button" value="contact now" data-popup-open="tutor-popup" data-tutor-id="#{$tutor->id}")
            .clear
            -$i++
      .other-tutors
        %h2 Other tutors
        .tutors-carousel
          .slider_nav.prev_
          .slider-list
            .slider-wrap
              -foreach($tutors as $tutor)
                .teachers(id="tutor#{$tutor->id}")
                  %a(href="#" )
                    %img(class="tutor-preview" src="#{$tutorsImgFolder . $tutor->small_image}" )
                  %h2 = $tutor->name
                  %li
                    %span Subjects:
                  %p
                    %span = $tutor->subjects
                  %div.time-avalibe-wrapper
                    %li
                      %span Days/times available:
                    -foreach($tutor->tutorsDaysTimes as $dayTime)
                      %p = $weekDays[$dayTime->weekday]. ' ' . date('gA', strtotime($dayTime->start_time)) . '-' .date('gA', strtotime($dayTime->end_time))
                    %a(class="full-info" href="#" ) Watch full info
                      %img(src="#{$this->assetsPath}/img/button_more.png" )
                    .clear
                    %input(type="button" class="btn all-buttons contact-tutor" value="contact now" data-tutor-id="#{$tutor->id}")
            .clear
          .slider_nav.next_
      .clear