%section
  .wrapper-page(style="width:1327px;padding-left:220px;height:900px")
    .registration-title
      %h1 Summer Classes
      %p Registration form
    .registration-form-wrapper
      :php
            $form = $this->beginWidget('CActiveForm', array(
              'id'=>'summer-enroll-form',
              'enableAjaxValidation'=>false,
              'enableClientValidation'=>true,
              'clientOptions'=>array(
                            'hideErrorMessage'=>true,
                            'validateOnSubmit'=>true,
                            'afterValidate' => 'js:function(form, data, hasError) { 
                                    if(hasError) {
                                        for(var i in data) $("#"+i).addClass("input-error");
                                        return false;
                                    }
                                    else {
                                        form.children().removeClass("input-error");
                                        return true;
                                    }
                            }',
                            'afterValidateAttribute' => 'js:function(form, attribute, data, hasError) { 
                                    if(hasError) {
                                        $("#" + attribute.inputID).addClass("input-error");
                                        return false;
                                    }
                                    else {
                                        $("#" + attribute.inputID).removeClass("input-error");
                                        return true;
                                    }
                            }',


                    ),
              'focus'=>array($model,'student_name'),
            ));
      %input(class="text_input" name="selected_seminars" required="" type="hidden" value="#{$selected_seminars}")  
      %div.steps
        %ul.tabs
          %li.actived
            %a(href="#tab1")
              %b Step 1 -
              Student’s info
          %li
            %a(href="#tab2")
              %b Step 2 -
              Parents’ info
          %li
            %a(href="#tab3" )
              %b Step 3 -
              Additional info
      .steps-content
        %div.tab_content#tab1
          %div.input-row
            = $form->labelEx($model, 'student_name', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'student_name', array("class"=>"text_input"))
              = $form->error($model, 'student_name', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'gender', array("class"=>"label-name"))
            %div.wrapper-sex
              %div.input-text-radio.correct
                - $accountStatus = array('Male'=>'<label class="people-sex"><span>Male</span></label>', 'Female'=>'<label class="people-sex"><span>Female</span></label>');
                = $form->radioButtonList($model,'gender',$accountStatus, array('separator'=>' ', "class"=>"test-radio"));
          %div.input-row
            = $form->labelEx($model, 'current_school', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'current_school', array("class"=>"text_input"))
              = $form->error($model, 'current_school', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'student_address', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'student_address', array("class"=>"text_input"))
              = $form->error($model, 'student_address', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'student_home_phone', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'student_home_phone', array("class"=>"text_input"))
              = $form->error($model, 'student_home_phone', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'student_cell_phone', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'student_cell_phone', array("class"=>"text_input"))
              = $form->error($model, 'student_cell_phone', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'student_email', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->emailField($model, 'student_email', array("class"=>"text_input"))
              = $form->error($model, 'student_email', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %input(type="submit" class="btn registration-button" value="continue" )
        %div.tab_content#tab2
          %div.input-row
            = $form->labelEx($model, 'parent_name_1', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'parent_name_1', array("class"=>"text_input"))
              = $form->error($model, 'parent_name_1', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'parent_email_1', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->emailField($model, 'parent_email_1', array("class"=>"text_input"))
              = $form->error($model, 'parent_email_1', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'parent_name_2', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'parent_name_2', array("class"=>"text_input"))
              = $form->error($model, 'parent_name_2', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'parent_email_2', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->emailField($model, 'parent_email_2', array("class"=>"text_input"))
              = $form->error($model, 'parent_email_2', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %h4
            %b Parent to contact in case of emergency:
          %br
          %div.input-row
            = $form->labelEx($model, 'parent_name_emergency', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'parent_name_emergency', array("class"=>"text_input"))
              = $form->error($model, 'parent_name_emergency', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'parent_cell_emergency', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'parent_cell_emergency', array("class"=>"text_input"))
              = $form->error($model, 'parent_cell_emergency', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'parent_phone_emergency', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'parent_phone_emergency', array("class"=>"text_input"))
              = $form->error($model, 'parent_phone_emergency', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %h4
            %b Person to contact in case of emergency and parent not available:
          %br
          %div.input-row
            = $form->labelEx($model, 'person_name_emergency', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'person_name_emergency', array("class"=>"text_input"))
              = $form->error($model, 'person_name_emergency', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'person_cell_emergency', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'person_cell_emergency', array("class"=>"text_input"))
              = $form->error($model, 'person_cell_emergency', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'person_phone_emergency', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'person_phone_emergency', array("class"=>"text_input"))
              = $form->error($model, 'person_phone_emergency', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'person_relation_to_student', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'person_relation_to_student', array("class"=>"text_input"))
              = $form->error($model, 'person_relation_to_student', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %input(type="submit" class="btn registration-button" value="continue" )
        %div.tab_content#tab3
          %div.input-row
            = $form->labelEx($model, 'physician_name', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'physician_name', array("class"=>"text_input"))
              = $form->error($model, 'physician_name', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'physician_phone', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'physician_phone', array("class"=>"text_input"))
              = $form->error($model, 'physician_phone', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'dentist_name', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'dentist_name', array("class"=>"text_input"))
              = $form->error($model, 'dentist_name', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'dentist_phone', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'dentist_phone', array("class"=>"text_input"))
              = $form->error($model, 'dentist_phone', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'medication_alergies', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'medication_alergies', array("class"=>"text_input"))
              = $form->error($model, 'medication_alergies', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'medication_currently_taken', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'medication_currently_taken', array("class"=>"text_input"))
              = $form->error($model, 'medication_currently_taken', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'food_alergies', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              = $form->textField($model, 'food_alergies', array("class"=>"text_input"))
              = $form->error($model, 'food_alergies', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.input-row
            = $form->labelEx($model, 'last_tetanus_shot', array("class"=>"label-name"))
            %div.input_block.cl
              %div.error-message
              - $this->widget('zii.widgets.jui.CJuiDatePicker', array(  'name'=>"EnrollFormSummer[last_tetanus_shot]", 'htmlOptions'=>[ "class"=>"text_input"]) )
              = $form->error($model, 'last_tetanus_shot', array("class"=>"error-message", "style"=>"margin-top:5px"))
          %div.text-form
            %b I grant permission to authorized Omega Teaching personnel to administer basic first aid to:
          %div.text-form
            %span Name of Student
            as appropriate.  In case of accident or acute illness, I grant permission for authorized Omega Teaching LLC personnel to arrange transportation for my child to the closest hospital or dentist.  I understand that an effort will be made to notify me before such action is taken and the expense of this service and any subsequent medical expenses will be assumed by me.  I give permission for the student enrolled to participate in the seminar and activities above and I further agree to indemnify Omega Teaching LLC, its employees and agents, and the independent consultants retained by Omega Teaching from and against any and all liability for any injury or harm suffered by the student which may arise out of or in any way be connected to the student’s participation in the above activities.  I further agree to permit the use of event or activity photography and/or video media production, which may include images of the student.
          %input(type="submit" class="btn registration-button" value="send form" )
    .your-courses
      %h2 Your courses
      - foreach($yourSeminars as $seminar){
      .your-courses-data
        %h3#{$seminar["description"]}
        %p Preferred week:
          %span#{$seminar["date_period"]}
        %p Entering Grade:
          %span#{$seminar["grade"]}
        %p Scheduled time:
          %span#{$seminar["time_slot"]}
      -}
    -$this->endWidget();
    .clear