!!! XML
!!! 5
%head
  %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  %meta(name='language' content='ru')
  %title Page title
  %link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
  %link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')

  - Yii::app()->clientScript->registerCssFile($this->assetsPath . DS . 'css' . DS . 'test.css');
  - Yii::app()->clientScript->registerCoreScript('jquery');
  - Yii::app()->clientScript->registerScriptFile($this->assetsPath . DS . 'js' . DS . 'main.js');

%body
  - $isHomePage = ($this->action->id=='index')? true: false;
  %header(id="#{$isHomePage? '': 'header-bg'}")
    .header
      .logo
        %img(src="#{$this->assetsPath}/img/omega_logo.png" )
      .phone
        %img(src="#{$this->assetsPath}/img/icon_phone.png" )
        %h1 650-322-2671
      .logins
        %a(href="#") Log in
        %a.login-button(href="#") Sign up
    .nav
      %ul.header-menu
        %li
          %a(href="/") Home
        %li
          %a(href="#") Tutors
        %li
          %a(href="#{$this->createUrl('site/mainclasses')}") Classes
        %li
          %a(href="#{$this->createUrl('site/jobs')}") Jobs
        %li
          %a(href="#") Blog
        %li
          %a(href="#") Store

      %form
        %input.search.rounded(placeholder="Search" type="text")
    - if ($isHomePage)
      .slider
        .slide-text
          %h1 Aiming for the top universities? We Can Help!
          %p AdvanÑed Teaching for Advancing Students
        .puzzle
          %a(href="#test-popup" )
            %img(src="#{$this->assetsPath}/img/button_puzzle.png" )
      .clear

  =$content


//FOOTER Classes Pages

%footer
  .footer
    .pages
      %h1 Pages:
      .left-top-border
      %ul.pages-list
        %li Home
        %li Teachers
        %li Tutoring
        %li Jobs
        %li Store
    .classes
      %h1 Classes:
      .middle-top-border
      %ul.classes-list
        %li Math Olympiad Training
        %li Hillview Writing Workouts
        %li Pre-School Mandarin
        %li Science Fair Camp
      %ul.classes-spisok-isee
        %li ISEE and HSPT Classes
        %li SAT and ACT Preparation
        %li Summer Classes
    .contact-us
      %h1 Contact us
      .right-top-border
      %ul.contact-list
        %li Omega Teaching
        %li 1030 Curtis St. #201
        %li Menlo Park, CA 94025
        %li 650-322-2671
        %li
          %a(href="") @omegateaching.com

