!!! XML
!!! 5
%head
  %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  %meta(name='language' content='ru')
  %title
    #{$this->pageTitle}
  %link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
  %link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css')
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  - Yii::app()->clientScript->registerCssFile($this->assetsPath . DS . 'css' . DS . 'test.css');

  - Yii::app()->clientScript->registerCoreScript('jquery');
  - Yii::app()->clientScript->registerCoreScript('jquery.ui');
  - Yii::app()->clientScript->registerScriptFile($this->assetsPath . DS . 'js' . DS . 'main.js');

%body
  #loading
    %img(src="#{$this->assetsPath}/img/preloader.gif")
  #main-wrapper
    #bg-layer
    .inner-wrap
      - $isHomePage = ($this->action->id=='index' && $this->id == 'site')? true: false;
      %header(id="#{$isHomePage? '': 'header-bg'}")
        .wrapper-page
          .header
            .logo
              %img(src="#{$this->assetsPath}/img/omega_logo.png" )
            .phone
              %img(src="#{$this->assetsPath}/img/icon_phone.png" )
              %h1 650&shy;-322-2671
          /
            .logins
              %a(href="#") Login
              %a.all-buttons.login-button(href="#") Sign up
          %nav
            %ul.header-menu
              %li
                %a(href="/") Home
              %li
                %a(href="#{$this->createUrl('/tutors')}") Tutors
              %li
                %a(href="#{$this->createUrl('/classes/selection')}") Classes 
              %li
                %a(href="#{$this->createUrl('site/jobs')}") Jobs
              %li
                %a(href="#{Yii::app()->baseUrl}/blog") Blog
              %li
                %a(href="#{$this->createUrl('site/OurMarket')}") Store

            //%form(action="" method="post" )
              //%input.search.rounded(type="text"name="search" )
          - if ($isHomePage)
            .slider
              .slide-text
                %h1 Aiming for the top universities? We Can Help!
                %p Advanсed Teaching for Advancing Students
              -if(!empty($this->monthPuzzle))
                .puzzle
                  %a(href="#" data-popup-open="puzzle-popup")
                    %img(src="#{$this->assetsPath}/img/button_puzzle.png" )
                .puzzle-popup.popup
                  .popup-text
                    %a.popup-close(href="#" )close
                      %img(src="#{$this->assetsPath}/img/close-button.png" )
                    .popup-content
                      .puzzle-thank-you
                        %div.thank-text
                          %h1 Thank you for request!
                          %p An answer has been sent to your e-mail.
                          %a.thank-close(href="#" )close
                        .clear
                      .puzzle-contact-form
                        %h1 = $this->monthPuzzle->month
                        %br
                        %h2 = $this->monthPuzzle->title
                        %p.pre-wrap = $this->monthPuzzle->question
                        %br
                        .enter-your-mail
                          :php
                            $form = $this->beginWidget('CActiveForm',array(
                              'id'=>'monthPuzzleParticipant-form',
                              'enableClientValidation'=>true,
                              'enableAjaxValidation'=>true,
                              'action'=>$this->createUrl('monthPuzzleForm'),
                              'htmlOptions'=>array(
                                  'class'=>'forms',
                              ),
                            ));
                          %label Enter your e-mail to receive an answer
                          =$form->textField($this->monthPuzzleParticipant,'email', ['class' => 'enter-mail'])
                          :php
                            echo CHtml::ajaxSubmitButton('get an answer',CHtml::normalizeUrl(array('monthPuzzleForm')),
                              array(
                                'dataType'=>'json',
                                'type'=>'post',
                                'beforeSend' => 'function(){$("#loading").show();}',
                                'success'=>'function(data)
                                  {
                                    $("#loading").hide();
                                    if(data.status=="success")
                                    {
                                      $(".puzzle-contact-form").hide();
                                      $("#monthPuzzleParticipant-form")[0].reset();
                                      $(".puzzle-thank-you").show();
                                    }
                                    else
                                    {
                                      $.each(data, function(key, val)
                                      {
                                        $("#monthPuzzleParticipant-form #"+key+"_em_").text(val);
                                        $("#monthPuzzleParticipant-form #"+key+"_em_").show();
                                      });
                                    }
                                  }'
                                ),
                                ['class' => 'btn enter-email-button']);
                          .error-message
                            =$form->error($this->monthPuzzleParticipant,'email')
                          -$this->endWidget();
      .wrapper-page
        :php
          $this->widget('zii.widgets.CMenu',array(
              'items'=>$this->breadcrumbs,
              'htmlOptions' => ['class' => 'bread-crumbs'],
              'activeCssClass' => 'bread-ico'
          ));
        .clear

      =$content
//FOOTER Classes Pages
  %footer
    .footer
      .pages
        %h1 Pages:
        .left-top-border
        %ul.pages-list
          %li
            %a(href="/" )Home
          %li
            %a(href="#{$this->createUrl('tutors/')}" )Tutors
          %li
            %a(href="#{$this->createUrl('classes/selection')}" )Classes
          %li
            %a(href="#{$this->createUrl('classes/summer')}" )Summer Seminars
          %li
            %a(href="/blog" )blog
      .classes
        %h1 Classes:
        .middle-top-border
        %ul.classes-list
          %li
            %a(href="#{$this->createUrl('classes/oakknoll')}" )Creative Writing at Oak Knoll
          %li
            %a(href="#{$this->createUrl('classes/hillview')}" )Writing Workouts at Hillview
          %li
            %a(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'test_prep_boot_camp'))}" )Test prep boot camp
          %li
            %a(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'essay_statement'))}" )Crafting the personal essay statement
          %li
            %a(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'myths_and_monsters'))}" )Of myths and monsters
        %ul.classes-spisok-isee
          %li
            %a(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'the_dogs'))}" )Going to the dogs
          %li
            %a(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'make_them_laugh'))}" )Make‘em laugh
          %li
            %a(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'power_of_story'))}" )The power of story
          %li
            %a(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'literary_analysis'))}" )Intro to literary analysis
      .contact-us
        %h1 Contact us
        .right-top-border
        %ul.contact-list
          %li Omega Teaching
          %li 1030 Curtis St. #201
          %li Menlo Park, CA 94025
          %li 650&shy;-322-2671
          %li
            %a(href="mailto:info@omegateaching.com")info@omegateaching.com

