!!! XML
!!! 5
%head
  %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  %meta(name='language' content='ru')
  %title Page title
  %link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
  %link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css')

  - Yii::app()->clientScript->registerCssFile($this->assetsPath . DS . 'css' . DS . 'test.css');
  - Yii::app()->clientScript->registerCoreScript('jquery');
  - Yii::app()->clientScript->registerScriptFile($this->assetsPath . DS . 'js' . DS . 'main.js');

%body
  - $isHomePage = ($this->action->id=='index')? true: false;
  %header(id="#{$isHomePage? '': 'header-bg'}")
    .header
      .logo
        %img(src="#{$this->assetsPath}/img/omega_logo.png" )
      .phone
        %img(src="#{$this->assetsPath}/img/icon_phone.png" )
        %h1 650-322-2671
      .logins
        %a(href="#") Log in
        %a.login-button(href="#") Sign up
    .nav
      %ul.header-menu
        %li
          %a(href="/") Home
        %li
          %a(href="#{$this->createUrl('site/tutors')}") Tutors
        %li
          %a(href="#{$this->createUrl('site/mainClasses')}") Classes
        %li
          %a(href="#{$this->createUrl('site/jobs')}") Jobs
        %li
          %a(href="#") Blog
        %li
          %a(href="#") Store

      %form
        %input.search.rounded(placeholder="Search" type="text")
    - if ($isHomePage)
      .slider-bg
        .slider
          .slide-text
            %h1 Aiming for the top universities? We Can Help!
            %p AdvanÑed Teaching for Advancing Students
          .puzzle
            %a(href="#" )
              %img(src="#{$this->assetsPath}/img/button_puzzle.png" )
          .puzzle-popup
            .popup-text
              %a(href="#" )close
                %img(src="#{$this->assetsPath}/img/close-button.png" )
              %h1 February puzzle
              %br
              %h2 Locker Puzzle
              %br
              %p You are in your school's hallway and the wall is lined with one hundred closed lockers numbered 1 through 100. A kid passes by and opens all of them. A second student comes by and closes all the even numbered ones. A third kid passes by and "toggles" every third locker. That is, if a locker is closed, she opens it, but if she finds a locker open, she closes it.
              %br
              %p Then, student number 4 toggles every fourth locker and student number 5 toggles every fifth one. And so on until one hundred students have passed through the hallway opening and closing lockers. Which lockers are open at the end of the process? Why?
              %br
              %p
                %b Hint:
                Who will toggle locker number 15? And who will toggle locker number 16? Are they left open or closed at the end?
              %br
              .enter-your-mail
                %form
                  %label Enter your e-mail to recieve an answer
                  %input(type="email" class="enter-mail" )
                  %input(type="submit" class="enter-email-button" value="get an answer" )


      .clear

  =$content


//FOOTER Classes Pages

%footer
  .footer
    .pages
      %h1 Pages:
      .left-top-border
      %ul.pages-list
        %li
          %a(href="/" )Home
        %li
          %a(href="#" )Teachers
        %li
          %a(href="#" )Tutoring
        %li
          %a(href="#{$this->createUrl('site/jobs')}" )Jobs
        %li
          %a(href="#" )Store
    .classes
      %h1 Classes:
      .middle-top-border
      %ul.classes-list
        %li
          %a(href="#" )Math Olympiad Training
        %li
          %a(href="#" )Hillview Writing Workouts
        %li
          %a(href="#" )Pre-School Mandarin
        %li
          %a(href="#" )Science Fair Camp
      %ul.classes-spisok-isee
        %li
          %a(href="#" )ISEE and HSPT Classes
        %li
          %a(href="#" )SAT and ACT Preparation
        %li
          %a(href="#" )Summer Classes
    .contact-us
      %h1 Contact us
      .right-top-border
      %ul.contact-list
        %li Omega Teaching
        %li 1030 Curtis St. #201
        %li Menlo Park, CA 94025
        %li 650-322-2671
        %li
          %a(href="") @omegateaching.com

