%header
  .header
    .logo
      %img(src="#{$this->assetsPath}/img/omega_logo.png" )
    .phone
      %img(src="#{$this->assetsPath}/img/icon_phone.png" )
      %h1 650-322-2671
    .logins
      %p Log in
      %a.login-button(href="#") Sign up
  .nav
    %ul.header-menu
      %li
        %a(href="#") Home
      %li
        %a(href="#") Tutors
      %li
        %a(href="#") Classes
      %li
        %a(href="#") Jobs
      %li
        %a(href="#") Blog
      %li
        %a(href="%") Store

    %form
      %input.search.rounded(placeholder="Search" type="text")

  .slider
    .slide-text
      %h1 Aiming for the top universities? We Can Help!
      %p AdvanÑed Teaching for Advancing Students
    .puzzle
      %a(href="#test-popup" )
        %img(src="#{$this->assetsPath}/img/button_puzzle.png" )

%section
  .karkas
    .cont
      .stanford
        %img(src="#{$this->assetsPath}/img/icon_1.png" )
        %p Experienced teachers from Harvard, MIT, Stanford and Berkeley
      .academic
        %img(src="#{$this->assetsPath}/img/icon_2.png" )
        %p High quality tutoring to ensure your academic success
      .individual
        %img(src="#{$this->assetsPath}/img/icon_3.png" )
        %p Individualized attention and focused academic environment

    .education
      %h1 Choose the way to maximize your score:
      .tutoring
        %img(src="#{$this->assetsPath}/img/photo_1.png" )
        %h1 Tutoring
        %p Tutoring by our expert teachers at our center or in the convenience of your home
        %a.tutoring-button(href="#") read more
      .classes
        %img(src="#{$this->assetsPath}/img/photo_2.png" )
        %h1 Classes
        %p Test prep and enrichment classes throughout the year
        %a.classes-button(href="#") read more
      .cat-and-cat
        %img(src="#{$this->assetsPath}/img/photo_3.png" )
        %h1 SAT and ACT
        %p Ace the SAT and get accepted by the college of your dreams!
        %a.cat-button(href="#") read more
      .isee-and-hspt
        %img(src="#{$this->assetsPath}/img/photo_4.png" )
        %h1 ISEE and HSPT
        %p Intensive tutoring and classes to prepare students for the entrance exams into private schools
        %a.isee-button(href="#") read more

    .clear

    .content
      .left-colum
        .date
          %h2 Dec
          %h1 27
        %img(src="#{$this->assetsPath}/img/calendar.jpg" )
        %h1 Omega Teaching apps
        .app-store
          %a(href="#")
            %img(src="#{$this->assetsPath}/img/button_app_store.jpg" )
        .google-play
          %a(href="#")
            %img(src="#{$this->assetsPath}/img/button_google_play.jpg" )
      .right-colum
        %h1 About Us
        .about-block
          %p.about-text Omega Teaching offers intensive mathematics, science, and humanities tutoring, and test preparation techniques to middle school and high school students. Each teacher at Omega has an advanced degree from one of the top 10 universities in the country. Also, each has extensive teaching and tutoring experience. Omega teachers know what it takes to succeed in life.
          %p.about-text-r Omega Teaching fulfills the needs of students who want individualized attention to get ahead. Omega maintains a focused academic environment by offering instruction only in subjects in which our teachers have expertise. This is in contrast to tutoring services that offer a much broader scope with less specialized tutors.

    .clear

    .map
      %h1 Find Us on a Map
      %img(src="#{$this->assetsPath}/img/map.jpg" )





