%section
  .main-classes
    %h1 The list of our classes
    .summer-seminar
      %img(src="#{$this->assetsPath}/img/photo_1_1.png" )
      %h2 Summer Seminars
      %ul.summer-seminar-list
        %li
          %span
            %b Grades:
            %br Entering 4th and up
        %li
          %span
            %b Class Size:
            %br 4-12 students per seminar
        %li
          %span
            %b Times:
            %br Mondey-Fridey. 9:30-12:00 pm or 2-4:30pm.
        %li
          %span
            %b Duradion:
            %br 5 days
      %p Summer seminars include: Test Prep Boot Camp, Of Myths and Monsters, Going to the Dogs, Make ‘Em Laugh, The Power of Story and Intro to Literary Analysis.
      %a.summer-seminar-button(href="#{$this->createUrl('site/classes')}") read more
    .creative-writing
      %img(src="#{$this->assetsPath}/img/photo_2_2.png" )
      %h2 Creative Writing at Oak Knoll
      %ul.creative-writing-list
        %li
          %span
            %b Grades:
            %br Entering 3rd, 4th and 5th
        %li
          %span
            %b Class Size:
            %br 12 students per class
        %li
          %span
            %b Times:
            %br one class perweek, 8-12 classes
        %li
          %span
            %b Duradion:
            %br 8-12 weeks
      %p Summer seminars include: Test Prep Boot Camp, Of Myths and Monsters, Going to the Dogs, Make ‘Em Laugh, The Power of Story and Intro to Literary Analysis.
      %a.creative-writing-button(href="#") read more
    .writing-workouts
      %img(src="#{$this->assetsPath}/img/photo_3_3.png" )
      %h2 Writing Workouts at Hillview
      %ul.writing-workouts-list
        %li
          %span
            %b Grades:
            %br Entering 5th-8th
        %li
          %span
            %b Class Size:
            %br 15 students per class
        %li
          %span
            %b Times:
            %br one class perweek, 11-12 classes
        %li
          %span
            %b Duradion:
            %br 11-12 weeks
      %p Summer seminars include: Test Prep Boot Camp, Of Myths and Monsters, Going to the Dogs, Make ‘Em Laugh, The Power of Story and Intro to Literary Analysis.
      %a.writing-workouts-button(href="#") read more
    .what-class
      %img(src="#{$this->assetsPath}/img/question_sign_blue.png" )
      %p Not sure what class is right for you?
      %br
      %p We can help!
      %br
      %p Call us right away for a free consultation:
        %span 650-322-2671

  .clear