%section
  #tutors-wrapper
    %h1 Our tutors
    //.clear
    .our-tutors
      %img(src="#{$this->assetsPath}/img/photo_big.jpg" )
    .tutors-info
      %h1 Jennifer Tsay
      %li
        %span Subjects:
      %br
      %p
        %span SAT, LSAT, History, Computer Skills, Writing, Organic Chemistry, Chemistry, Biology, Physics
      %br
      %li
        %span Education:
      %br
      %p Graduated from Stanford University, the University of Barcelona, J.D. from Harvard Law School
      %br
      %li
        %span Experience:
      %br
      %p Jennifer is a Phi Beta Kappa graduate of Stanford University with degrees in English and Quantitative Economics. She has also lived overseas in Asia and Europe, including study at the University of Barcelona, Spain. After receiving her J.D. from Harvard Law School, she worked for several well-known Bay Area law firms. As a mother of 3 elementary school children, she is an active classroom volunteer and currently coordinates and teaches an art enrichment program at her children's Spanish immersion school. She also has experience tutoring English to non-native speakers from children to adults.
      %br
      %li
        %span Days/times available:
      %br
      %ul.days-times
        %li
          %span Mondays
          11AM-4PM
        %li
          %span Tuesdays
          10AM-4PM
        %li
          %span Thursdays
          10AM-4PM
        %li
          %span Saturdays
          11AM-3PM
        %input(type="button" class="our-tutors-button" value="contact now" )
    .clear
    .other-tutors
      %h2 Other tutors
      .tutors-carousel
        .emma-bridges
          %a(href="#" )
            %img(src="#{$this->assetsPath}/img/photo_small_1.png" )
          %h1 Emma Bridges
          %li Subjects:
          %p SAT, LSAT, History, Computer Skills, Writing, Organic Chemistry, Chemistry, Biology, Physics
          %li Days/times available:
          %p Monday 11AM-4PM Tuesday 10AM-4PM Thursday 10AM-4PM Saturday 11AM-3PM
          %a(href="#" ) Watch full info
            %img(src="#{$this->assetsPath}/img/button_more.png" )
          .clear
          %input(type="button" class="tutors-emma-button" value="contact now" )
        .kayla-tileman
          %a(href="#" )
            %img(src="#{$this->assetsPath}/img/photo_small_2.png" )
          %h1 Kayla Tieman
          %li Subjects:
          %p History, Computer Skills, Writing, Organic Chemistry, Chemistry, Biology, Physics
          %li Days/times available:
          %p Monday 11AM-4PM Tuesday 10AM-4PM Thursday 10AM-4PM Saturday 11AM-3PM
          %a(href="#" ) Watch full info
            %img(src="#{$this->assetsPath}/img/button_more.png" )
          .clear
          %input(type="button" class="tutors-kayla-button" value="contact now" )
        .james-wagner
          %a(href="#" )
            %img(src="#{$this->assetsPath}/img/photo_small_3.png" )
          %h1 James Wagner
          %li Subjects:
          %p SAT, LSAT, History, Computer Skills, Writing, Organic Chemistry, Chemistry, Biology, Physics
          %li Days/times available:
          %p Monday 11AM-4PM Tuesday 10AM-4PM Thursday 10AM-4PM Saturday 11AM-3PM
          %a(href="#" ) Watch full info
            %img(src="#{$this->assetsPath}/img/button_more.png" )
          .clear
          %input(type="button" class="tutors-james-button" value="contact now" )
        .tammy-lambert
          %a(href="#" )
            %img(src="#{$this->assetsPath}/img/photo_small_4.png" )
          %h1 Tammy Lambert
          %li Subjects:
          %p SAT, LSAT, History, Computer Skills, Writing, Organic Chemistry, Chemistry, Biology, Physics
          %li Days/times available:
          %p Monday 11AM-4PM Tuesday 10AM-4PM Thursday 10AM-4PM Saturday 11AM-3PM
          %a(href="#" ) Watch full info
            %img(src="#{$this->assetsPath}/img/button_more.png" )
          .clear
          %input(type="button" class="tutors-tammy-button" value="contact now" )
    .clear