%section

  .wrapper-page
    .analysis
      %img(src="#{$this->assetsPath}/img/photo_big_1.jpg" )
      .analysis-text
        %h1 Intro to the literary analysis
        %ul.analysis-list
          %li
            %b Grades:
          %li
            %b Class Size:
          %li
            %b Times:
          %li
            %b Duration:
        %ul.analysis-list-2
          %li Entering 8th-12th
          %li 4-12 students
          %li M-F 2.5 hrs
          %li one week

    .clear

    .courses

      .course-description
        %h2 Course description
        %p This course is specifically designed for high school students, although entering 8th graders will be allowed at instructor’s discretion. Each day will feature one short literary piece to be read in class for discussion and as the subject of a timed essay. Students will learn basic terms used in literary analysis and read sample literary analysis. Actual works used may be based on students’ assigned summer reading lists.
      .course-features
        %h3 Seminar Syllabus
        %ul.days
          %li
            %span
              %b Day 1:
              Poetry
          %li
            %span
              %b Day 2:
              Drama
          %li
            %span
              %b Day 3:
              Short Story
          %li
            %span
              %b Day 4:
              Short Story
          %li
            %span
              %b Day 5:
              Non Fiction Essay

      .enroll-course
        %h4 Enroll course
        .begins-text
          %h5 Begins:
            %span 1 June
            %br Fee per
              %br weekly session:
                %br
                  %span $275
        %img(src="#{$this->assetsPath}/img/enroll_picture.png" )
        .enroll-border
          %p Spots available:
            %span 12
        %a.enroll-button(href="#{$this->createUrl('classes/summer')}#calendar") Pick a time

      .clear

      .other-summer-classes
        %h2 Other summer classes:
        .borders
          %a.intro-button(href="#{$this->createUrl('site/LiteraryAnalysis')}") Intro to Literary Analysis
          %a.crafting-button(href="#{$this->createUrl('site/EssayStatement')}") Crafting The Personal Essay Statement
          %a.myth-button(href="#{$this->createUrl('site/MythsAndMonsters')}") Of Myth and Monsters
          .clear
          %a.going-button(href="#{$this->createUrl('site/TheDogs')}") Going to the dogs
          %a.make-button(href="#{$this->createUrl('site/MakeemLaugh')}") Make ’Em Laugh
          %a.power-button(href="#{$this->createUrl('site/PowerOfStory')}") The Power of Story

      .not-sure
        .not-sure-inner
          %img(src="#{$this->assetsPath}/img/question_sign.png" )
            %p Not sure what class is right for you? We can help!
              %br Call us right away for a free consultation:
                %span 650-322-2671