%section

  .wrapper-page
    .analysis
      %img(src="#{$this->assetsPath}/img/Intro to the literary analysis.jpg" )
      .analysis-text-knoll
        %h1 Writing Workouts at Hillview
        %ul.analysis-list-knoll
          %li
            %b Grades:
          %li
            %b Class Size:
          %li
            %b Times:
          %li
            %b Duration:
        %ul.analysis-list-2-knoll
          %li Entering 3rd, 4th and 5th
          %li max 12 students
          %li 1 class per week
          %li 1 trimester

    .clear

    .courses-knoll

      .course-description-knoll
        %h2 Course description
        %p Improve your writing through Writing Workouts!
        %p Writing Workouts feature short, in-class exercises designed to complement Hillview’s class work.  Seminars will be highly interactive and fun. Students will participate and practice the common criteria needed to write well in any genre: Voice, Audience, Structure and Editing (VASE).
        %p Class will meet one hour per week after school and class size is limited to 15 students.  Students will have the opportunity to review, discuss and present their writing, including writing for school assignments.  No homework will be given.  Join at any time.  Fees will be prorated.
        %p
          -#%b Your instructor:
          -#%a(href="#")Jennifer Tsay
      .enroll-course-knoll
        %h4 Enroll course
        .begins-text-knoll
          %p
            %b Spring trimester (March 20 - June 12):
          %p 12 classes -
            %b $275.
          %p
            %b Fall trimester (Sept. 19 - Dec. 5):
          %p 11 classes -
            %b $275.
          %p
            %b Winter trimester (Dec. 12 - Mar. 13):
          %p 12 classes -
            %b $275.
        %img(src="#{$this->assetsPath}/img/enroll_picture_big.png" )
        .enroll-border-knoll
          //%p Spots available:
            //%span 12
        %a.enroll-button(href="#{$this->createUrl('enroll/hillview')}") enroll now

      .clear

      .other-summer-classes-knoll
        %h2 Other classes:
        .borders-knoll
          %a.intro-button(href="#{$this->createUrl('classes/summer')}") Summer classes
          %a.crafting-button(href="#{$this->createUrl('classes/oakknoll')}") Creative Writing at Oak Knoll

      .not-sure-knoll
        .not-sure-inner-knoll
          %img(src="#{$this->assetsPath}/img/question_sign.png" )
            %p Not sure what class is right for you? We can help!
              %br Call us right away for a free consultation:
                %span 650-322-2671