%section

  .wrapper-page
    .analysis
      %img(src="#{$this->assetsPath}/img/photo_big_1.jpg" )
      .analysis-text-knoll
        %h1 Creative Writing at Oak Knoll
        %ul.analysis-list-knoll
          %li
            %b Grades:
          %li
            %b Class Size:
          %li
            %b Times:
          %li
            %b Duration:
        %ul.analysis-list-2-knoll
          %li Entering 3rd, 4th and 5th
          %li 12 students
          %li 1 class per week
          %li trimester

    .clear

    .courses-knoll

      .course-description-knoll
        %h2 Course description
        %p Improve your creative writing by using your Five Senses!
        %p Inspired by the cognitive science book A Whole New Mind by Daniel Pink, this class combines the five senses with visual and verbal communication skills.  Exercises include mind mapping, drawing with the right side of the brain, theater improve and writing.  Students will learn how to translate their sensory processes into drawing, speaking and writing. Class will meet one hour per week after school and is limited to 12 students.  Students will have the opportunity to review, discuss and present their work. No homework will be given.  Join at any time.  Fees will be prorated.
        %p
          %b Your instructor:
          %a(href="#")Jennifer Tsay
      .enroll-course-knoll
        %h4 Enroll course
        .begins-text-knoll
          %p
            %b Spring trimester (22 Apr. - 10 June):
          %p 8 classes -
            %b $170.
          %p
            %b Fall trimester (Sept. 17 - Dec. 10):
          %p 13 classes -
            %b $275.
          %p
            %b Winter trimester (Jan. 14 - Apr. 8):
          %p 12 classes -
            %b $275.
        %img(src="#{$this->assetsPath}/img/enroll_picture_big.png" )
        .enroll-border-knoll
          //%p Spots available:
            //%span 12
        %a.enroll-button(href="#{$this->createUrl('enroll/oakknoll')}") enroll now

      .clear

      .other-summer-classes-knoll
        %h2 Other classes:
        .borders-knoll
          %a.intro-button(href="#{$this->createUrl('classes/summer')}") Summer classes
          %a.crafting-button(href="#{$this->createUrl('classes/hillview')}") Writing Workouts at Hillview

      .not-sure-knoll
        .not-sure-inner-knoll
          %img(src="#{$this->assetsPath}/img/question_sign.png" )
            %p Not sure what class is right for you? We can help!
              %br Call us right away for a free consultation:
                %span 650-322-2671