%section
  .wrapper-page
    .summer-seminars
      %h1 Summer Seminars
      .summer-seminar-image
        %img(src="#{$this->assetsPath}/img/classes_photo_1.png" )
      .summer-seminar-text
        %p As the Academic Director of Omega Teaching LLC, I am very pleased to offer the following summer seminars, including Test Prep Boot Camp. Test Prep Boot Camp will be offered at two levels: entering 4th and 5th graders, entering 6th and 7th graders, and entering 8th graders. The 8th grade Camp will cover both ISEE and HSPT test prep skills. Discounts are offered to Test Prep Boot Camp students who also enroll in the Crafting the Personal Essay Statement. This class is designed to get students started on the application essays needed for private schools.
        %br
        %p Other seminars include: Of Myths and Monsters, Going to the Dogs, Make ‘Em Laugh, The Power of Story and Intro to Literary Analysis. Classes are 2.5 hours with 4-12 students divided by grade or ability levels. Discounts available for multiple enrollment and students are encouraged to take several classes to improve their skills. If your child is a returning student, they can repeat classes as I have multiple writing assignments for the same themes.  My teaching experience includes tutoring and afterschool writing classes at Hillview Middle School. My degrees are from Harvard (JD) and Stanford (BA, English and Economics).

    .clear

    .summer-classes
      %h2 All summer classes:
      .seminars
        .camp-topic
          %h3 Test prep boot camp
        %img(src="#{$this->assetsPath}/img/title_1.png" )
        %ul.grades
          %li
            %span
              %b Grades:
          %li
            %span Level I Entering 4th-5th
          %li
            %span Level II Entering 6th -7th
          %li
            %span Level III Entering 8th
        %a.btn.camp-button(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'test_prep_boot_camp') )}") read more
      .seminars
        .personal-topic
          %h3 Crafting the personal essay statement
        %img(src="#{$this->assetsPath}/img/title_2.png" )
        %ul.grades
          %li
            %span
              %b Grades:
          %li
            %span Level I Entering 4th-5th
          %li
            %span Level II Entering 6th-8th
          %li
            %span Level III 9th -12th
        %a.btn.personal-button(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'essay_statement') )}") read more
      .seminars
        .myths-topic
          %h3 Of myths and monsters
          %img(src="#{$this->assetsPath}/img/icon_favourite_big.png" )
          %span Student favorite!
        %img(src="#{$this->assetsPath}/img/title_3.png" )
        %ul.grades
          %li
            %span
              %b Grades:
          %li
            %span Level I Entering 5th-7th
          %li
            %span Level II Entering 8th-12th
        %a.btn.myths-button(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'myths_and_monsters') )}") read more
      .seminars
        .going-topic
          %h3 Going to the dogs
          %img(src="#{$this->assetsPath}/img/icon_favourite_big.png" )
          %span Student favorite!
        %img(src="#{$this->assetsPath}/img/title_4.png" )
        %ul.grades
          %li
            %span
              %b Grades:
          %li
            %span Level I Entering 5th -8th
        %a.btn.going-summer-button(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'the_dogs') )}") read more
      .seminars
        .laugh-topic
          %h3 Make‘em laugh
        %img(src="#{$this->assetsPath}/img/title_5.png" )
        %ul.grades
          %li
            %span
              %b Grades:
          %li
            %span Level I Entering 5th -7th
          %li
            %span Level II Entering 8th -12th
        %a.btn.laugh-button(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'make_them_laugh') )}") read more
      .seminars
        .story-topic
          %h3 The power of story
        %img(src="#{$this->assetsPath}/img/title_6.png" )
        %ul.grades
          %li
            %span
              %b Grades:
          %li
            %span Level I Entering 5th -7th
          %li
            %span Level II Entering 8th -12th
        %a.btn.story-button(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'power_of_story') )}") read more
      .seminars
        .intro-topic
          %h3 Intro to literary analysis
        %img(src="#{$this->assetsPath}/img/title_7.png" )
        %ul.grades
          %li
            %span
              %b Grades:
          %li
            %span Entering 8th-12th
        %a.btn.intro-summer-button(href="#{$this->createUrl('classes/details', array('classIdentifier'=>'literary_analysis') )}") read more
      .question
        %img(src="#{$this->assetsPath}/img/icon_help.png" )
        %h6 Not sure what class is right for you?
        %br
        %p We can help! Call us right away for a free consultation:
        %span 650-322-2671

    .clear

    .enrollment-form
      .popup-messsage-table
        %p Please
          %span check the seminars
          ,
          %span weeks
          ,
          %span entering grades
          and
          %span times
          you want. We will confirm enrollment by email. Seminars may be cancelled due to insufficient enrollment. Classes offered eleven weeks from June 17 through August 26
        %input(type="button" class="popup-messsage-table-button" value="select classes" )
      %a(name="calendar" )
        %h2
          %a(name="popup-messsage-table" )Omega Teaching Summer 2014 Enrollment Form:
      .summer_classes_register_table(data-action="#{$this->createUrl('enroll/summer')}")
        -$detailsCellHeight = 21;
        .table_column.legend
          .table_cell.table_header.vertical_align(style="text-align: right; background: #FFF; padding-right: 17px;")
            %span Seminars
          -$cellHeight = $detailsCellHeight*$timesMax+$timesMax-1
          .table_cell.even(style="height:#{$cellHeight}px; line-height:#{$cellHeight}px;")
            %span Times
          -$cellHeight = $detailsCellHeight*$gradesMax+$gradesMax-1
          .table_cell.odd.vertical_align(style="height:#{$cellHeight}px;")
            %span
              Entering
              %br
              grades
          -for($i = 1; $i <= $datePeriodsMax; $i++)
            .table_cell(class="#{$i % 2? 'even': 'odd';}")
              %span Week #{$i}
              %br
              -$firstSeminar = $seminars[0]
              - $startMonth = date( 'm', strtotime($firstSeminar->datePeriods[$i - 1]->start_date) )
              - $endMonth = date( 'm', strtotime($firstSeminar->datePeriods[$i - 1]->end_date) )
              -echo date( 'M j', strtotime($firstSeminar->datePeriods[$i - 1]->start_date) ) . ' -'
              - if($startMonth !== $endMonth)
                - echo date( 'M j', strtotime($firstSeminar->datePeriods[$i - 1]->end_date) )
              -else
                -echo date( 'j', strtotime($firstSeminar->datePeriods[$i - 1]->end_date) )
        -$colId = 1
        -foreach($seminars as $seminar)
          .table_column(data-col-id="#{$colId}" data-seminar-id="#{$seminar->id}")
            .table_cell.table_header =$seminar->title
              -if($seminar->favourite)
                %span.students_favourite Student favourite!
            -foreach($seminar->timeSlots as $timeSlot)
              .table_cell.even.details_cell(data-cell-type="time" style="line-height:#{$detailsCellHeight}px;" data-timeSlot-id="#{$timeSlot->id}")
                = date('A g:i', strtotime($timeSlot->start_time)) . '-' .date('g:i', strtotime($timeSlot->end_time))
            -$curSeminarGradesCount = count($seminar->grades)
            -$cellHeight = $gradesMax/$curSeminarGradesCount*$detailsCellHeight+($gradesMax-$curSeminarGradesCount)/$curSeminarGradesCount
            -foreach($seminar->grades as $grade)
              .table_cell.odd.details_cell(style="height:#{$cellHeight}px; line-height:#{$cellHeight}px" data-cell-type="grade" data-grade-id="#{$grade->id}")
                =$grade
            -$j = 1;
            -foreach($seminar->datePeriods as $datePeriod)
              .table_cell(class="#{$j % 2? 'even': 'odd';}" data-cell-type="week" data-datePeriod-id="#{$datePeriod->id}")
              -$j++
            -$colId++
        .clear
      %a.table-button(href="#{$this->createUrl('site/SummerClassesRegistrationForm')}") enroll classes

